<footer>
  <div class="container">

    <div class="row">

      <div class="copyright">
        <p>@deweichan 2000-2024 · All rights reserved.</p>
      </div>

      <div class="copyright">
        <ul class="social-media">
          <li><a href="https://www.linkedin.com/in/de-wei-chan/" target="_blank"><fa-icon [icon]="faLinkedIn" size = 'sm' ></fa-icon></a></li>
          <li><a href="mailto:deweichan@gmail.com" target="_blank"><fa-icon [icon]="faEnvelope" size = 'sm' ></fa-icon></a></li>
          <li><a href="https://www.github.com/dewchan01" target="_blank"><fa-icon [icon]="faGithub" size = 'sm' ></fa-icon></a></li>
        </ul>
      </div>

    </div>
    
  </div>
</footer>
