<div class="loading-container" *ngIf="isAnimationInProgress && !isActive('/about-us')" [@fadeOut]="true">
  <pw-loading></pw-loading>
</div>
<header *ngIf="!isAnimationInProgress" [@fadeIn]>
  <nav>
    <div class = "bar" >
    <a href="#" class="logo"><img src="../../../assets/ImageAsset/dewchan-white.png"
        alt="Logo"></a>
      <fa-icon class = "hamburgerBar" (click)="toggleMenu()" [icon]="faBars" size="2x" *ngIf="!menu" [@fadeIn]></fa-icon>
      <fa-icon class="Xmark" (click)="closeMenu()" [icon]="faXmark" size="2x" *ngIf="menu" [@fadeIn]></fa-icon>
    </div>
    <!-- <nav> -->
    <ul *ngIf="menu" [@fadeIn] [@fadeOutFast] data-animation-order="fadeIn,fadeOutFast">
      <li><a routerLink="/home" (click)="scrollToHome()"
          [class.active]="isActive('/home') && activeSection === ''" >Home</a></li>
      <li><a (click)="scrollToEvent()" [class.active]="activeSection === 'event-details'">About Me</a></li>
      <li><a (click)="scrollToFAQ()" [class.active]="activeSection === 'faq'">Tech Stacks</a></li>
      <li><a (click)="scrollToRules()" [class.active]="activeSection === 'rules'">Projects</a></li>
      <li><a (click)="scrollToPrizes()" [class.active]="activeSection === 'prizes'">Contact</a></li>
      <!-- <li><a href="https://www.keysight.com/sg/en/about.html"  target="_blank" *ngIf="menu" (click)="closeMenu()">About Us</a></li> -->
      <li><a href="http://www.linkedin.com/in/de-wei-chan/" target="_blank" class="btn" *ngIf="menu" (click)="closeMenu()">Connect Now</a></li>
    </ul>
  </nav>
</header>

<!-- <div *ngIf="showHomeContent"> -->
  <!-- <pw-video *ngIf="!isLastAnimationInProgress"></pw-video> -->
  <pw-banner></pw-banner>
  <pw-event-details id='event-details'></pw-event-details>
  <pw-faq id='faq'></pw-faq>
  <pw-rules id='rules'></pw-rules>
  <pw-prizes id='prizes'></pw-prizes>

<!-- </div> -->