.intro-container {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.black-block {
  height: 400px;
  position: relative;
}

.left-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  width: 400px; 
  height: 400px;
}


.right-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 450px; 
  height: 450px;
}

.center-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}

.animate-image {
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  animation-fill-mode: forwards;
}

@keyframes leftSlideInOut {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  30% {
    opacity: 1;
    transform: translateX(-450px);
  }

  80% {
    opacity: 0;
    transform: translateX(-450px);
  }
}

@keyframes rightSlideInOut {
  0% {
    opacity: 0;
    transform: translateX(-600px);
  }

  30% {
    opacity: 1;
    transform: translateX(400px);
  }

  80% {
    opacity: 0;
    transform: translateX(400px);
  }
}


@media screen and (min-width: 768px) {
  .left-image.animate-image {
    animation-name: leftSlideInOut;
  }

  .right-image.animate-image {
    animation-name: rightSlideInOut;
  }

}


@keyframes fadeOut {
  
  50% {
    opacity: 1;
    background-color: white;
  }
  70% {
    opacity: 0;
    background-color: black;
  }
}

.intro-container.animate-image,.center-image.animate-image {
  animation-name: fadeOut;
}
