<section class="event-details" [style.boxShadow]="boxShadow">
  <h2>About Me</h2>
  <div class="flow-line">
    <pw-circuit-svg></pw-circuit-svg>
  </div>
  <div class="text" #container>
    <p>
      I am genuinely passionate about exploring and embracing new and innovative technologies. With a thirst for
      knowledge, I have actively sought opportunities to expand my understanding through self-learning, attending
      workshops, reading books, watching tutorials, and immersing myself in hands-on projects.
    </p>
    <p class="line-break">---</p>
    <p>
      Furthermore, in my free time, I will also find joy in immersing myself in the world of anime and k-drama. It's a delightful escape that
      allows me to appreciate storytelling and different cultures. Additionally, I love to explore
      places through travel, which broadens my horizons and enriches my perspective on life. 
    </p>
    <p class="line-break">---</p>
    <p>
      As a final year EEE student at NTU, I am currently engaged in a blockchain app development project for my FYP. I
      am eager to explore opportunities for continue enhancing my skills and gaining practical experience in a
      professional setting.
    </p>
    <p class="line-break">---</p>
  </div>
  <!-- <img src="../../../assets/ImageAsset/jjt.gif"> -->

</section>