<section class="prizes" [style.boxShadow]="boxShadow">
  <h1 class="page-title">Contact</h1>

  <div class="flow-line">
    <pw-circuit-svg></pw-circuit-svg>
  </div>

  <div class="prize-container">
      <a class="prize-item" href="https://www.linkedin.com/in/de-wei-chan/" target="_blank">
        <div class="prize-icon">
          <fa-icon [icon]="faLinkedIn"></fa-icon>
        </div>
      <div class="prize-details">
        <h2>LinkedIn</h2>
        <p>De Wei Chan</p>
      </div>
    </a>

    

    <a class="prize-item" href="mailto:deweichan@gmail.com" target="_blank">
      <div class="prize-icon">
        <fa-icon [icon]="faEnvelope"></fa-icon>
      </div>

      <div class="prize-details">
        <h2>Email</h2>
        <p>deweichan@gmail.com</p>
      </div>
    </a>

    <a class="prize-item" href="https://www.github.com/dewchan01" target="_blank">
      <div class="prize-icon">
        <fa-icon [icon]="faGithub"></fa-icon>
      </div>

      <div class="prize-details">
        <h2>Github</h2>
        <p>dewchan01</p>
      </div>

    </a>
  </div>
</section>